* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

form {
  /* height: 400px; */
  width: 370px;
  margin: 20px;
  background: white;
  border-radius: 5px;
}

.reg {
  margin: 23px;
  font-size: 20px;
  color: black;
  font-family: sans-serif;
}

.input-feild {
  margin: 25px;
  /* width: 200px; */
}

.input-feild input {
  width: 300px;
  height: 40px;
  margin: 10px;
  outline: black;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  
}


p {
  
  margin-left: 10px;
  font-weight: 100;
  color: red;
  font-family: sans-serif;
  font-size: 13px;
} 

.hidden {
  display: none;

}

#checkbox {
  width: 15px;
  margin-top: -5px;
}

#confirm-password {
  margin-top: -0px;
}

button {
  margin: 20px;
  margin-left: 35px;
  height: 35px;
  width: 250px;
  background: rgb(56, 90, 238);
  font-size: 15px;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  background: rgb(63, 63, 186);
  transition: 0.5s;
}
